---
const {title, author, date, slug} = Astro.props
---

<article class=" p-4 py-8 flex flex-col  gap-4  entry-content max-w-3xl mx-auto">
    <div class=" text-black text-2xl font-medium"  >
        <h1 transition:name=`title-${slug}` >{title}</h1>
    </div>
        <div transition:name=`excerpt-${slug}` class="text-md excerpt line-clamp-3">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia expedita doloremque repellendus voluptate unde illum nulla. 
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia expedita doloremque repellendus voluptate unde illum nulla.
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia expedita doloremque repellendus voluptate unde illum nulla.
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia expedita doloremque repellendus voluptate unde illum nulla.
        </div>
        <a transition:name=`button-${slug}` href={`/posts/${slug}`} class="border-2 rounded-lg p-1 px-2 border-purple-600 text-purple-600 w-fit">Läs mer</a>
</article>